
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonts */
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Default Box Model Clear */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
.c1-color1{
    color: #202020;
}
.c1-color2{
    color: #808080;
}
.c1-color3{
    color: #64C8FF;
}
.c2-color{
    color: #F0AA00;
}
.c3-color{
    color: #8700FF;
}
.dc-1{
    color: #3CD8E8;
}
.dc-2{
    color: #95B226;
}
.dc-3{
    color: #5D58F0;
}
.btn{
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: #ffffff;
    background-color: black;
    border-radius: 12px;
    border: none;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}

/* Nav Styles */
nav{
    padding: 20px 141px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    align-items: center;
    gap: 11px;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
}
.links{
    gap: 32px;
}
.nav-links .items{
    list-style: none;
}
.items a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-btn{
    background-color: orange;
    padding: 10px 60.5px;
    font-weight: 600;
}
.menu-btn{
    font-size: 2rem;
    border: none;
    background-color: #ffffff;
    display: none;
}

/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {
    .nav-links, .nav-title, .nav-btn{
        display: none;
    }
    nav{
        padding: 12px 16px;
        border: 1px solid rgba(254, 163, 1, 1);
    }
    .menu-btn{
        display: block;
    }
}