
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Fonts */
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Default Box Model Clear */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared Styles */
.t-color{
    color: #202020;
}
.d-color{
    color: #808080;
}
.c1-color{
    color: #64C8FF;
}
.c2-color{
    color: #F0AA00;
}
.c3-color{
    color: #8700FF;
}
.dc-1{
    color: #3CD8E8;
}
.dc-2{
    color: #95B226;
}
.dc-3{
    color: #5D58F0;
}
.btn{
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Quicksand", serif;
    color: #ffffff;
    background-color: black;
    border-radius: 12px;
    border: none;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.c1s{
    border: 1px solid #DEF5FF;
    background: linear-gradient(to bottom, #DEF5FF, #ffffff 40%);
}
.c2s{
    border: 1px solid #FFF4DC;
    background: linear-gradient(to bottom, #FFF4DC, #ffffff 40%);
}
.c3s{
    border: 1px solid #F2E8FF;
    background: linear-gradient(to bottom, #F2E8FF, #ffffff 40%);
}

/* Nav Styles */
nav{
    padding: 20px 141px;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    align-items: center;
    gap: 11px;
}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
}
.links{
    gap: 32px;
}
.nav-links .items{
    list-style: none;
}
.items a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav-btn{
    background-color: orange;
    padding: 10px 60.5px;
    font-weight: 600;
}
.menu-btn{
    font-size: 2rem;
    border: none;
    background-color: #ffffff;
    display: none;
}

/* Banner Styles */
.banner{
    max-width: 1330px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 60px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.banner-content{
    max-width: 640px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.banner-desc{
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.banner-btn{
    padding: 10px 47px;
}

/* Main Styles */
main{
    max-width: 1330px;
    margin: 0 auto;
    /* background-image: ; */
}

/* Curriculum Section Styles */
.section-title{
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}
.card-container{
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    margin-bottom: 80px;
}
.card{
    text-align: center;
    padding: 58px 40px;
    border-radius: 19px;
    box-shadow: 0 0 28.3px 0.94px rgba(0, 0, 0, 0.05);
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 33px 0;
}
.card-desc{
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 34px;
    line-height: 28px;
}
.card a{
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 700;
}
.card-btn{
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}
.card-btn button{
    width: 60px;
    height: 60px;
    background-color: orange;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Responsive for Mobile Devices */
@media screen and (max-width: 576px) {
    .nav-links, .nav-title, .nav-btn{
        display: none;
    }
    nav{
        padding: 12px 16px;
        border-bottom: 1px solid rgba(254, 163, 1, 1);
    }
    .menu-btn{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .section-title{
        margin-bottom: 20px;
    }
    .card-container{
        grid-template-columns: 1fr;
    }
    .card-btn{
        display: none;
    }
}